body{
    background-image: url(https://besthqwallpapers.com/Uploads/4-9-2021/178081/thumb-black-low-poly-background-4k-triangles-patterns-low-poly-textures-geometric-shapes.jpg);
}


.header{
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    width: 100%;
    height: 55px;
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
}

.argprog{
    display: flex;
    justify-content:left;
    align-items: center;
    width: 44%;
    height: 100%;
    font-size: small;
}

/* .pito, .puto{
    font-weight: 1000; 
    negrito
} */

.logoargprog{
    width: 12%;
    height: 100%;
}

.iconoArg{
    text-align: center;
    padding: 0.2em;
    border-radius: 0.3em;
}

.textoargprog{
    width: 46%;
    color: black;
    position: relative;
    left: 1%;
}

.redesylogin {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 56%;
    height: 100%;
    font-size: 1.6em;
    letter-spacing: 0.8em;
}
.button1{
    display:flex;
    width: 5.19%;
    height: 56%;
    align-items: center;
    justify-content: center;
}
.redes{
    color: gray;
    cursor: pointer;
}
.redes:hover{
    color: darkgray;
    transition: 0.5s;
    transform: translateY(-10px);
    -webkit-box-shadow: 7px 11px 15px 7px #000000; 
    box-shadow: 7px 11px 15px 7px #000000;
}
.button2{
    display:flex;
    width: 10%;
    align-items: center;
    justify-content: center;
}
.container-profile{
    display: flex;
    flex-wrap: wrap;
    height: 40em;
    background-color: blue;
    margin: 0.6em;
    border-radius: 0.6em;
    border: 1px solid red;
}
.banner{
    width: 100%;
    height: 65%;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
}

.imgbanner{
    width: 100%;
    height: 70%;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
}
.profile{
    padding: 1.2em;
}
.acercadeContainer{
    display: flex;
    justify-content: space-between;
    padding: 1.2em;
    margin: 0.6em;
    height: 8em;
    background-color: lightgray;
    border: 0.06em solid red;
    border-radius: 0.6em; 
}
.acercaDe{
    display: flex;
    width: 91%;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}
.acercadeTittle{
    height: 50%;
    width: 100%;
}
.acercadeDescription{
    height: 50%;
    width: 100%;
}
.editButton{
    display: flex;
    width: 9%;
    height: 100%;
    align-items: start;
    justify-content: flex-end;
}
.experiencenEducationContainer{
    display: flex;
    padding: 1.2em;
    margin: 0.6em;
    height: 40em;
    background-color: blue;
    border: 0.06em solid #f5f5f5;
    border-radius: 0.6em; 
}
.addButton{
    display: flex;
    width: 9%;
    height: 50%;
    align-items: start;
    justify-content: center;
}
.hardNSoftSkillsContainer{
    display: flex;
    padding: 1.2em;
    flex-wrap: wrap;
    margin: 0.6em;
    height: 34em;
    justify-content: space-between;
    background-color: lightgray;
    border: 0.06em solid red;
    border-radius: 0.6em; 
}
.hardNSoftSkillsTittleNAddbutton{
    display: flex;
    width: 100%;
    height: 12%;
}
.hardNSoftSkillsTittle{
    height: 100%;
    width: 100%;
}
.hardNSoftSkills{
    display: flex;
    align-items: flex-start;
    width: 87%;
    height: 79%;
    flex-wrap: wrap;
}
/* .boxSkills{
    display: flex;
    background-color: red;
    justify-content: space-between;
    height: 41%;
    width: 34%;
    flex-wrap: wrap;
} */
/* .boxSkillsContainer{
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: flex-start;
} */
/* .boxSkillsProgress{
    display: flex;
    width: 80%;
    height: 100%;
    background-color: violet;
} */

.languagesHSSContainer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 12%;
    height: 30%;
    border-radius: .6em;
    border-color: .6em solid yellow;
    background-color: lightskyblue;
}
.languagesHSSContainer:hover{
    transform: translate(-10px,-10px);
    -webkit-box-shadow: 10px 11px 15px 5px #000000; 
    box-shadow: 10px 11px 15px 5px #000000;
    transition: 0.5s;
}
.ulli{
    list-style-type: "👉";
}
.editButtonsHSSContainer{
    display: flex;
    align-items: center;
    height: 8%;
    width: 87%;
}
.editButtonsHSS{
    width: 12.5%;
    text-align: right;
    padding-right: .6em;
}
.deleteButtonsHSS{
    width: 12.5%; 
    padding-left: 0.6em;
}
/* barra de progreso circular */
.container {
    position: relative;
    height: 74%;
    display: flex;
    justify-content: space-between;
} 

.container .card {
    position: relative;
    width: 22%;
    background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}
  
.container .card:hover {
    transform: translateY(-10px);
    -webkit-box-shadow: 1px 11px 15px 5px #000000; 
    box-shadow: 1px 11px 15px 5px #000000;
}
  
.container .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .03);
    pointer-events: none;
    z-index: 1;
}
  
.percent {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: #222;
    z-index: 1000;
}
  
.percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
  
.percent .number h2 {
    color: #777;
    font-weight: 700;
    font-size: 40px;
    transition: 0.5s;
}
  
.card:hover .percent .number h2 {
    color: #fff;
    font-size: 60px;
}
  
.percent .number h2 span {
    font-size: 24px;
    color: #777;
    transition: 0.5s;
}
  
.card:hover .percent .number h2 span {
    color: #fff;
}
  
.text {
    position: relative;
    color: #777;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
}
  
.card:hover .text {
    color: #fff;
}
  
svg {
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}
  
svg circle
{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}
  
svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
  
.card:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 70) / 100);
    stroke: #00ff43;
}
  
.card:nth-child(2) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 45) / 100);
    stroke: #00a1ff;
}
  
.card:nth-child(3) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 88) / 100);
    stroke: #ff04f7;
}
.card:nth-child(4) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 80) / 100);
    stroke: brown;
}
/* fin barra de progreso circular */
.boxSkillsEdit{
    display: flex;
    width: 20%;
    background-color: yellow;
}
.boxSkillsEditButtons{
    width: 50%;
}
.projectsContainer{
    display: flex;
    padding: 1.2em;
    margin: 0.6em;
    height:8em;
    background-color: blue;
    border: 0.06em solid #f5f5f5;
    border-radius: 0.6em; 
}
.projects{
    display: flex;
    width: 91%;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}
.projectsTittle{
    height: 50%;
    width: 100%;
}
.projectsDescriptions{
    height: 50%;
    width: 100%;
}
.paralelogramo {
    width: 80%;
    border: 0.06em solid #f5f5f5;
    border-radius: 0.6em; 
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
}

.circulo {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
}