body{
    background-image: url(https://besthqwallpapers.com/Uploads/4-9-2021/178081/thumb-black-low-poly-background-4k-triangles-patterns-low-poly-textures-geometric-shapes.jpg);
}


.header{
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    width: 100%;
    height: 55px;
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
}

.argprog{
    display: flex;
    justify-content:left;
    align-items: center;
    width: 44%;
    height: 100%;
    font-size: small;
}
.logoargprog{
    width: 12%;
    height: 100%;
}

.iconoArg{
    text-align: center;
    padding: 0.2em;
    border-radius: 0.3em;
}

.textoargprog{
    width: 46%;
    color: black;
    position: relative;
    left: 1%;
}

.redesylogin {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 56%;
    height: 100%;
    font-size: 1.6em;
    letter-spacing: 0.8em;
}
.button1{
    display:flex;
    width: 5.19%;
    height: 56%;
    align-items: center;
    justify-content: center;
}
.redes{
    color: gray;
    cursor: pointer;
}
.redes:hover{
    color: darkgray;
    transition: 0.5s;
    transform: translateY(-10px);
    -webkit-box-shadow: 2px 10px 15px 7px rgba(0,0,0,0.77); 
    box-shadow: 2px 10px 15px 7px rgba(0,0,0,0.77);
}
.button2{
    display:flex;
    width: 10%;
    align-items: center;
    justify-content: center;
}
.container-profile{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    height: 40em;
    background-color: lightgray;
    margin: 0.6em;
    border-radius: 0.6em;
    border: 1px solid red;
}
.imgbanner{
    width: 100%;
    height: 63%;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
    background-image: url(img/encabezado2.jpeg);
    background-repeat: no-repeat;
}
.imgNEditContainer{
    display: flex;
    position: absolute;
    align-items: flex-end;
    padding: 1.2em;
    margin-left: 5em;
    width: 19%;
    height: 75%;
}
.circulo {
    display: flex;
    width: 12em;
    height: 12em;
    border-radius: 50%;
    border: 0.6em solid black;
    background-image: url(img/perfil2.png);
    background-size: cover;
    background-repeat: no-repeat;
} 
.editButtonProfile {
    padding-bottom: 0.9em;
}
.profileDataContainer{
    display: flex;
    flex-wrap: wrap;
    height: 26%;
    width: 96%;
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 2.8em;
    border-radius: 10px;
}
.nameNContentContainer{
    width: 50%;
    height: 60%;
}
.nameContainer{
    padding-left: 2em;
    height: 35%;
}
.contentContainer{
    padding-left: 2em;
    height: 80%;
}
.dataContainer{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 50%;
    height: 100%;
}
.buttons{
    display: flex;
    padding-left: 2em;
    height: 40%;
    width: 37%;
    justify-content: space-between;
    align-items: center;
}

.acercadeContainer{
    display: flex;
    justify-content: space-between;
    padding: 1.2em;
    margin: 0.6em;
    height: 9em;
    background-color: lightgray;
    border: 0.06em solid red;
    border-radius: 0.6em; 
}
.acercaDe{
    display: flex;
    width: 91%;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}
.acercadeTittle{
    height: 50%;
    width: 100%;
}
.acercadeDescription{
    height: 50%;
    width: 100%;
}
.editButtonAcercade{
    display: flex;
    width: 9%;
    height: 100%;
    align-items: start;
    justify-content: flex-end;
}

.experiencenEducationContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 1.2em;
    margin: 0.6em;
    height: 47em;
    background-color: lightgray;
    border: 0.06em solid red;
    border-radius: 0.6em; 
}
.experienceContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 30%;
}
.experienceTittle{
    width: 88%;
    height: 23%;
}
.asideAddButton {
    display: flex;
    justify-content: right;
    width: 12%;
    height: 1.4em;
}
.experienceExample {
    display: flex;
    width: 88%;
    height: 100%;
}
.experienceExample:hover{
    transform: translate(10px,10px);
    transition: 0.5s;
    -webkit-box-shadow: -8px -5px 15px 5px rgba(0,0,0,0.77); 
    box-shadow: -8px -5px 15px 5px rgba(0,0,0,0.77);
}
.imgExperienceContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 11%;
    height: 100%;
}
.experienceExampleTittleNDescription {
    display: flex;
    flex-wrap: wrap;
    width: 89%;
    height: 100%;
}
.experienceExampleSubtittle {
    width: 100%;
    height: 16%;
}
.experienceExampleDescription {
    width: 100%;
    height: 81%;
}
.editButtonsEnE{
    display: flex;
    width: 12%;
    height: 10%;
    align-items: center;
    justify-content: right;
}
.editButtonEnE{
    display: flex;
    width: 15%;
    justify-content: center;
}
.deleteButtonEnE{
    display: flex;
    width: 20%;
    justify-content: center;
}
.educationContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 54%;
}
.educationTittle{
    width: 88%;
    height: 11%;
}
.educationExample{
    display: flex;
    width: 88%;
    height: 46%;
}
.educationExample:hover{
    transform: translate(10px,10px);
    transition: 0.5s;
    -webkit-box-shadow: -8px -5px 15px 5px rgba(0,0,0,0.77); 
    box-shadow: -8px -5px 15px 5px rgba(0,0,0,0.77);
}
.imgEducationContainer{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 11%;
    height: 60%;
}
.educationExampleTittleNDescription{
    width: 100%;
    height: 81%;
}
.educationExampleSubtittle{
    width: 100%;
    height: 28%;
}
.educationExampleDescription{
    width: 100%;
    height: 85%;
}

.addButton {
    display: flex;
    width: 15%;
    height: 100%;
    align-items: start;
    justify-content: end;
    font-size: 1.6em;
}
.addButton:hover{
    cursor: pointer;
}
.hardNSoftSkillsContainer{
    display: flex;
    padding: 1.2em;
    flex-wrap: wrap;
    margin: 0.6em;
    height: 32em;
    justify-content: space-between;
    background-color: lightgray;
    border: 0.06em solid red;
    border-radius: 0.6em; 
}
.iPointerEditButtonsHSS:hover{
    cursor: pointer;
}
.hardNSoftSkillsTittle{
    height: 9%;
    width: 88%;
}
.hardNSoftSkills{
    display: flex;
    align-items: flex-start;
    width: 87%;
    height: 79%;
    flex-wrap: wrap;
}

.languagesHSSContainer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 12%;
    height: 30%;
    border-radius: .6em;
    border-color: .6em solid yellow;
    background-color: lightskyblue;
}
.languagesHSSContainer:hover{
    transform: translate(-10px,-10px);
    -webkit-box-shadow: 10px 11px 15px 5px rgba(0,0,0,0.77); 
    box-shadow: 10px 11px 15px 5px rgba(0,0,0,0.77);
    transition: 0.5s;
}
.ulli{
    list-style-type: "👉";
}
.editButtonsHSSContainer{
    display: flex;
    align-items: center;
    height: 8%;
    width: 87%;
}
.editButtonsHSS{
    width: 12.5%;
    text-align: right;
    padding-right: .6em;
}
.deleteButtonsHSS{
    width: 12.5%; 
    padding-left: 0.6em;
}

/* barra de progreso circular */
.container {
    position: relative;
    height: 74%;
    display: flex;
    justify-content: space-between;
} 

.container .card {
    position: relative;
    width: 22%;
    background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}
  
.container .card:hover {
    transform: translateY(-10px);
    -webkit-box-shadow: 1px 11px 15px 5px #000000; 
    box-shadow: 1px 11px 15px 5px #000000;
}
  
.container .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .03);
    pointer-events: none;
    z-index: 1;
}
  
.percent {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: #222;
    z-index: 1000;
}
  
.percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
  
.percent .number h2 {
    color: #777;
    font-weight: 700;
    font-size: 40px;
    transition: 0.5s;
}
  
.card:hover .percent .number h2 {
    color: #fff;
    font-size: 60px;
}
  
.percent .number h2 span {
    font-size: 24px;
    color: #777;
    transition: 0.5s;
}
  
.card:hover .percent .number h2 span {
    color: #fff;
}
  
.text {
    position: relative;
    color: #777;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
}
  
.card:hover .text {
    color: #fff;
}
  
svg {
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}
  
svg circle
{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}
  
svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
  
.card:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 70) / 100);
    stroke: #00ff43;
}
  
.card:nth-child(2) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 45) / 100);
    stroke: #00a1ff;
}
  
.card:nth-child(3) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 88) / 100);
    stroke: #ff04f7;
}
.card:nth-child(4) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 80) / 100);
    stroke: brown;
}
/* fin barra de progreso circular */

.projectsContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 1.2em;
    margin: 0.6em;
    height:17em;
    background-color: lightgray;
    border: 0.06em solid red;
    border-radius: 0.6em; 
}
.projectsTittle{
    display: flex;
    height: 15%;
    width: 88%;
    align-items: end;
    justify-content: flex-start;
}
.projectsExampleContainer{
    height: 80%;
    width: 88%;
}
.projectsExampleContainer:hover{
    transform: translate(10px,10px);
    transition: 0.5s;
    -webkit-box-shadow: -8px -5px 15px 5px rgba(0,0,0,0.77); 
    box-shadow: -8px -5px 15px 5px rgba(0,0,0,0.77);
}
.projectsExampleSubtittleContainer{
    width: 100%;
    height: 20%;
    color: #0a66c2;
}
.projectsExampleDescriptionContainer{
    width: 100%;
    height: 80%;
}
.buttonsProjects{
    display: flex;
    width: 12%;
    height: 16%;
    align-items: center;
    justify-content: right;
}
.editButtonProjects{
    display: flex;
    width: 15%;
    justify-content: center;
}
.deleteButtonProjects{
    display: flex;
    width: 20%;
    justify-content: center;
}
/* .paralelogramo {
    width: 80%;
    border: 0.06em solid #f5f5f5;
    border-radius: 0.6em; 
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
}*/

