body{
    background-image: url(https://besthqwallpapers.com/Uploads/4-9-2021/178081/thumb-black-low-poly-background-4k-triangles-patterns-low-poly-textures-geometric-shapes.jpg);
}

.container-profile{
    height: 40em;
    background-color: blue;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid white;
    
}
.header{
    background-color: #f5f5f5;
    width: 100%;
    height: 54px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.argprog{
    width: 300px;
    height: 85%;
    float: left;
    color: white;
    font-size: small;
    padding-top: 7px;
    padding-left: 16px;
}
.logoargprog{
    background-image: url(img/argprogramaedit.png);
    background-repeat: no-repeat;
    width: 21%;
    height: 95%;
    float: left;
    border-radius: 10px;
}
.textoargprog{
    width: 76%;
    float: right;
    color: black;
}
.redesylogin{
    width: 32%;
    height: 73%;
    float: right;
    margin-top: 8px;
    margin-right: 15px;
    padding-left: 150px;
}
.button{
    float: right;
}
.boxes{
    width: 18%;
    height: 97%;
    margin-top: 1px;
    margin-right: 10px;
}
.banner{
    width: 100%;
    height: 65%;
/*    background-image: url(img/encabezado.jpeg);*/
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.imgbanner{
    width: 100%;
    height: 70%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.acercadeContainer{
    margin: 10px;
    height: 10em;
    background-color: blue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.paralelogramo {
    width: 1165px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px; 
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
}

.circulo {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
}
.textarticle{
    font-family: Arial, Helvetica, sans-serif;
}